.panes{
  grid-template-columns:1fr 1fr;
}

.lang-row{
  justify-content:space-between;
}

/* Swap exactly centered between bars */
.swap-btn{
  margin:0 16px;
}

/* Push RIGHT language bar only */
.lang-bar.right{
  padding-left:40px;
}
